SP3/.vs/Physics/v15/Solution.VC.db-wal
SP3/.vs/Physics/v15/Solution.VC.db-shm
SP3/.vs/Physics/v15/Solution.VC.db
SP3/.vs/Physics/v15/Browse.VC.db
SP3/Base/Debug/Base.tlog/CL.write.1.tlog
SP3/.vs/Physics/v15/.suo
SP3/Base/Debug/Base.tlog/link.read.1.tlog
SP3/Base/Debug/Base.tlog/CL.read.1.tlog
SP3/.vs/Physics/v15/ipch/AutoPCH/BASE-62cd38ba/MAIN-28954e28/MAIN.ipch
SP3/.vs/Physics/v15/Browse.VC.opendb
SP3/Debug/Base.pdb
SP3/Debug/Base.exe
SP3/Base/Source/SceneCollision.cpp
SP3/Base/Debug/Base.tlog/link.write.1.tlog
SP3/Base/Debug/Base.log
SP3/Base/Debug/vc120.idb
SP3/Base/Debug/SceneCollision.obj
SP3/Base/Debug/vc120.pdb
SP3/.vs/Physics/v15/ipch/AutoPCH/BASE-62cd38ba/SCENECOLLISION-7861d9d/SCENECOLLISION.ipch
