SP3/.vs/
SP3/Base/Debug
SP3/Base/Release
SP3/Base/Shader
SP3/Base/Base.vcxproj
SP3/Base/Base.vcxproj.filters
SP3/Base/Base.vcxproj.user
SP3/Common/Debug
SP3/Common/Release
SP3/Common/Common.vcxproj
SP3/Common/Common.vcxproj.filters
SP3/Common/Common.vcxproj.user
SP3/Debug
SP3/glew
SP3/glfw
SP3/Release
SP3/Physics.sdf
SP3/Physics.sln
SP3/Physics.VC.db
SP3/Physics.opensdf
